<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email</label>
        <input 
            type="email" 
            name="email" 
            id="email" 
            placeholder="example@gmail.com" 
            formControlName="email"
        >
    </div>
    <div>
        <label for="password">Password</label>
        <input 
            type="password" 
            name="password" 
            id="password" 
            placeholder="***"
            formControlName="password"
        >
    </div>
    <div>
        <button>Login</button> 
    </div>

</form>