<!--==== One way binding =====-->
<!-- <app-sports-ui></app-sports-ui> -->
<router-outlet></router-outlet>
<h1>{{ title }}</h1>
<p>{{ description }}</p>
<h3>{{ isClassEnded }}</h3>
<h3>{{ numberOfStudents }}</h3>

<!--==== Two way binding =====-->
<input type="text" [(ngModel)]="userName" placeholder="Enter a user name">
<h2>{{ userName || 'No user name' }}</h2>

<!--==== Structural Directives ====-->

<h3>Food Menus</h3>
<br>
<button (click)="toggleMenu()">Show menu</button>

<ul *ngIf="showMenu === true">
  <li *ngFor="let dish of dishes;">{{ dish }}</li>
</ul>

<!--=== create todos component and todo component ===-->
<app-todos></app-todos>